In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Lasso, LassoCV, LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split, KFold
from sklearn.metrics import mean_squared_error,r2_score, mean_absolute_error
from sklearn.preprocessing import LabelEncoder, StandardScaler
import warnings

np.random.seed(2)
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Data/kc_final.csv', index_col = 0)

In [3]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

# Preprocessing

In [4]:
df = df.drop_duplicates()
df.shape

(21613, 21)

In [5]:
df.id.nunique()

21436

In [6]:
del df['id']

In [7]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [8]:
labelencoder = LabelEncoder()
df['date'] = labelencoder.fit_transform(df['date'])
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,164,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,220,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,290,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,220,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,283,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,19,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,288,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,52,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,252,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,166,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

# Correlation matrix

In [9]:
corr = df.loc[:, df.columns != 'price'].corr()
corr.style.background_gradient(cmap='coolwarm')

In [10]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [11]:
cor_matrix = df.loc[:, df.columns != 'price'].corr().abs()
upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.8)]
print(to_drop)

['sqft_above']

In [12]:
# df1 = df.drop(columns = to_drop, axis=1)

In [13]:
df1 = df

In [14]:
zipcode = pd.get_dummies(df.zipcode, prefix='zipcode')
df1 = pd.concat([df1,zipcode], axis = 1)
del df1['zipcode']

In [15]:
X = df1.loc[:, df1.columns != 'price']
y = df1['price']

In [16]:
X

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,zipcode_98146,zipcode_98148,zipcode_98155,zipcode_98166,zipcode_98168,zipcode_98177,zipcode_98178,zipcode_98188,zipcode_98198,zipcode_98199
0,164,3,1.00,1180,5650,1.0,0,0,3,7,...,0,0,0,0,0,0,1,0,0,0
1,220,3,2.25,2570,7242,2.0,0,0,3,7,...,0,0,0,0,0,0,0,0,0,0
2,290,2,1.00,770,10000,1.0,0,0,3,6,...,0,0,0,0,0,0,0,0,0,0
3,220,4,3.00,1960,5000,1.0,0,0,5,7,...,0,0,0,0,0,0,0,0,0,0
4,283,3,2.00,1680,8080,1.0,0,0,3,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,19,3,2.50,1530,1131,3.0,0,0,3,8,...,0,0,0,0,0,0,0,0,0,0
21609,288,4,2.50,2310,5813,2.0,0,0,3,8,...,1,0,0,0,0,0,0,0,0,0
21610,52,2,0.75,1020,1350,2.0,0,0,3,7,...,0,0,0,0,0,0,0,0,0,0
21611,252,3,2.50,1600,2388,2.0,0,0,3,8,...,0,0,0,0,0,0,0,0,0,0
21612,166,2,0.75,1020,1076,2.0,0,0,3,7,...,0,0,0,0,0,0,0,0,0,0

# Train-Test split, Scaling

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
X_train_cols = X_train.columns

In [18]:
scaler = StandardScaler()
scaler.fit(X_train,y_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Building the model

In [19]:
lasso = Lasso()
lasso_fit = lasso.fit(X_train,y_train)

In [20]:
y_pred = lasso_fit.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))
print(np.sqrt(mean_absolute_error(y_test,y_pred)))

180406.39680695254
313.6604581108603

In [21]:
r2_score(y_test, y_pred)

0.7914627974187516

## Finding the best alpha using LassoCV

In [22]:
lasso_cv_model = LassoCV(alphas = np.random.randint(1,1000,100), cv = 10, max_iter = 100000).fit(X_train,y_train)

In [23]:
lasso_cv_model.alpha_

20

In [24]:
lasso_tuned = Lasso(alpha = lasso_cv_model.alpha_).fit(X_train,y_train)

y_pred_tuned = lasso_tuned.predict(X_test)

rmse_test = (np.sqrt(mean_squared_error(y_test,y_pred_tuned)))
mae_test = (np.sqrt(mean_absolute_error(y_test,y_pred_tuned)))
r2_test = (r2_score(y_test, y_pred_tuned))

In [25]:
#Test
result_table_test = pd.DataFrame(columns = ['Metric', 'Value'])
result_table_test.loc[0] = ['RMSE', rmse_test]
result_table_test.loc[1] = ['MAE', mae_test]
result_table_test.loc[2] = ['R2', r2_test]

print('Lasso Test metrics')
result_table_test

Lasso Test metrics

  Metric          Value
0   RMSE  180418.886333
1    MAE     313.652189
2     R2       0.791434

In [26]:
y_pred_train_tuned = lasso_tuned.predict(X_train)

rmse_train = (np.sqrt(mean_squared_error(y_train,y_pred_train_tuned)))
mae_train = (np.sqrt(mean_absolute_error(y_train,y_pred_train_tuned)))
r2_train = (r2_score(y_train, y_pred_train_tuned))

In [27]:
#Train
result_table_train = pd.DataFrame(columns = ['Metric', 'Value'])
result_table_train.loc[0] = ['RMSE', rmse_train]
result_table_train.loc[1] = ['MAE', mae_train]
result_table_train.loc[2] = ['R2', r2_train]

print('Lasso Train metrics')
result_table_train

Lasso Train metrics

  Metric          Value
0   RMSE  151235.932206
1    MAE     304.122222
2     R2       0.817940

## Analysing model coefficients

In [28]:
coef_df = pd.DataFrame(columns = ['columns', 'Lasso_coef'])
coef_df['columns'] = X_train_cols
coef_df['Lasso_coef'] = lasso_tuned.coef_
coef_df

          columns     Lasso_coef
0            date   12559.850172
1        bedrooms  -21924.140260
2       bathrooms   15189.734842
3     sqft_living  180848.975467
4        sqft_lot    8129.407269
..            ...            ...
83  zipcode_98177       6.652321
84  zipcode_98178  -12588.534923
85  zipcode_98188   -8916.226653
86  zipcode_98198  -15332.072181
87  zipcode_98199   21573.767338

[88 rows x 2 columns]

In [29]:
coef_df[(coef_df['Lasso_coef']<50) & (coef_df['Lasso_coef']>-50)]

          columns  Lasso_coef
83  zipcode_98177    6.652321

In [30]:
coef_df[coef_df['columns'].isin(['sqft_above','sqft_living'])]

        columns     Lasso_coef
3   sqft_living  180848.975467
10   sqft_above     353.074953

In [31]:
coef_df[(coef_df['Lasso_coef']<0)]

          columns    Lasso_coef
1        bedrooms -21924.140260
5          floors -21588.424271
11  sqft_basement -32727.702494
12       yr_built -20834.679681
15           long -18511.959308
17     sqft_lot15  -1717.800404
18  zipcode_98001 -14703.241863
19  zipcode_98002  -7724.632539
20  zipcode_98003 -15238.598472
26  zipcode_98010   -263.110145
27  zipcode_98011  -7929.054706
28  zipcode_98014  -4038.468820
29  zipcode_98019  -8828.955924
30  zipcode_98022  -6817.125347
31  zipcode_98023 -25496.448915
34  zipcode_98028 -10389.779518
36  zipcode_98030 -12417.971412
37  zipcode_98031 -11326.733041
38  zipcode_98032  -9739.029717
41  zipcode_98038 -10106.625667
44  zipcode_98042 -15565.125635
48  zipcode_98055  -9779.961413
49  zipcode_98056  -7000.202076
50  zipcode_98058 -14971.144807
51  zipcode_98059  -7436.115073
52  zipcode_98065  -3035.242984
53  zipcode_98070 -11700.327761
54  zipcode_98072  -5818.596792
57  zipcode_98077  -6620.798931
58  zipcode_98092 -17538.942794
62  zipcode_98106  -3322.919460
64  zipcode_98108  -3969.477598
73  zipcode_98125  -1626.512226
75  zipcode_98133  -8206.803576
78  zipcode_98146  -5648.854716
79  zipcode_98148  -3538.497484
80  zipcode_98155 -10266.296741
81  zipcode_98166 -10028.753243
82  zipcode_98168  -8856.059999
84  zipcode_98178 -12588.534923
85  zipcode_98188  -8916.226653
86  zipcode_98198 -15332.072181

# Cross Validation

In [32]:
k_folds = KFold(n_splits = 10)

scores = cross_val_score(lasso_tuned, X, y, cv = k_folds, scoring = 'r2')

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())

Cross Validation Scores:  [0.79024002 0.80239119 0.80529852 0.77696371 0.79297241 0.81864429
 0.81811265 0.83593176 0.80650679 0.81784386]
Average CV Score:  0.8064905198486928